<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('card.ejs')%>
    <br>
    <br>
    <%-include('navbar.ejs')%>

    <br>
    <h1>great..now this is the message</h1>
    <%=message%>
    <br>
    <br>
    <h1>great..now this is the title...</h1>
    <%=title%>

    
</body>
</html>